.container-account-info {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
}

.container-account-info form {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: 70%;
    height: 450px;
    border-radius: 6px;
    box-shadow: 4px 3px 43px 5px #70707045;
}

.image-user {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: auto;
}

.image-user img {
    height: 100%;
    width: auto;
    margin: auto;
}

.container-account-info form .input-container {
    width: 70%;
    margin: auto;
}

.container-account-info form .input-container label {
    margin-right: 5%;
    margin-bottom: 10px
}