.container-navigation-user {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    height: 100%;
    width: 250px;
    border-top-right-radius: 5px;
    color: white;
    background-color: darkblue;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
}