.container-navigation-user {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 999;
    height: 100%;
    width: 20%;
    border-top-right-radius: 5px;
    color: white;
    background-color: #1F325B;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
}

.container-navigation-user header {
    height: 80px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid;
    padding: 3px;
}

.container-navigation-user header img {
    max-height: 60px;
    border-radius: 25%;
}

.container-user-infos {
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.container-name-user {
    display: flex;
    flex-direction: column;
    height: 50px;
}

.container-name-user span {
    display: flex;
    justify-content: space-between;
}

.container-name-user i {
    color: red;
    cursor: pointer;
}

.container-name-user i:hover {
    color: rgb(255, 92, 92);
}

.container-navigation-user ul {
    list-style-type: none;
    padding: 0px;
    height: 80vh;
    overflow: auto;
}

.container-navigation-user ul li {
    margin: 30px auto;
    width: 80%;
    height: 35px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

.container-navigation-user ul li:hover {
    color: #F6B93B;
}

.navigation-admin-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    width: 100%;
}

.navigation-admin-container i {
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
}