.home_container {
    margin-top: 85px;
}

.home_container h5 {
    margin-left: 15px;
}

.container-head {
    height: 90vh;
    background: linear-gradient(to top, #f6b93b 60%, #fa983a);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home_container h2 {
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
}

.main-home {
    height: 230vh;
    background: linear-gradient(to top, #fad390 60%, #f6b93b);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: #18180f;
    background: linear-gradient(to top, #ffb32e 60%, #ffcd76c4, #fad390);
}

.container-head-items {
    display: flex;
    width: 100%;
}

.first-item {
    display: flex;
    height: 100%;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
    width: 100%;
    color: #ffffff;
}

.first-item img {
    width: 75%;
    margin-top: 50px;
}

.container-first-item {
    width: 70%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.container-first-item:nth-child(2) {
    width: 40%;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto auto auto -6%;
}

.container-first-item p {
    width: 75%;
    padding: 10px;
    border-radius: 8px;
    margin: 15px auto;
    text-align: left;
    background-color: rgb(255 255 255);
    color: #3a93b4;
    font-weight: 400;
    box-shadow: 2px 5px 8px 3px #d5d5d545
}

.container-first-item span {
    position: absolute;
    top: 40%;
    z-index: 500;
    color: #18180f;
}

.container-first-item span i {
    font-size: 28px;
    color: #32d055;
}

.card-container-home {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.border-rad {
    position: absolute;
    top: 15%;
    right: 8%;
    width: 40%;
    z-index: 5;
    height: 224px;
    background-color: #82ccdd;
    border-radius: 44% 56% 0% 100% / 42% 41% 59% 58%;
}

.container-steps-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
}

.container-steps-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 25%;
}

.contact-home p {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    font-size: 22px;
    color: #18180f;
}

.container-steps-desktop div {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 5px;
}

.container-steps-desktop div p {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    font-size: 22px;
    color: black;
}

.container-steps-desktop div img {
    height: 100%;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    max-width: 70%;
}

.container-steps-mobile div {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 5px;
}

.container-steps-mobile div p {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    font-size: 22px;
    color: black;
}

.container-steps-mobile div img {
    height: 100%;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    max-width: 70%;
}

.container-home-step {
    display: flex;
}

@media screen and (max-width: 900px) {
    .home_container {
        margin-top: 84px;
    }
    .main-home {
        height: auto;
    }
    .container-head {
        height: auto;
    }
    .container-home-step {
        display: flex;
        flex-direction: column;
    }
    .container-steps-desktop {
        display: none;
    }
    .container-steps-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 25%;
    }
    .container-steps-mobile div img {
        max-width: 100%;
    }
    .first-item {
        display: flex;
        flex-direction: column;
    }
    .container-first-item:nth-child(2) {
        width: 90%;
        margin: auto;
    }
    .container-first-item p {
        width: 100%;
    }
    /* .container-first-item {
        width: 100%;
    } */
}