/* 
*********** Header 
 */

.headerTop {
    width: 100%;
    height: 73px;
    position: fixed;
    padding: 5px 0px;
    z-index: 1000;
    top: 0;
    background-color: #f4f4f4;
    box-shadow: #2624247d 0px 2px 1px 0px;
    text-align: center;
}

.listeMenu {
    justify-content: space-around;
    list-style-type: none;
    height: 50px;
    display: flex;
    flex-direction: row;
    font-family: 'Pacifico', cursive;
    color: rgba(130, 204, 221, 1);
    font-size: 25px;
    margin: 11px auto;
}

.lienNav {
    list-style-type: none;
    padding: 0 20px;
    cursor: pointer;
}

.lienNav a:hover {
    color: #f6b83b9d;
}

.lienNavBtnAccount {
    margin-top: 0px;
    list-style-type: none;
    padding: 0px 20px;
    cursor: pointer;
    border: 3px solid #82ccdd;
    border-radius: 15px;
    text-decoration: none;
    height: 45px;
}

.lienNavBtnAccount:hover {
    border: 3px solid #f6b83b9d;
}

.lienNavBtnAccount a:hover {
    text-decoration: none;
}

.menuResBtn {
    display: none;
    position: fixed;
    top: 10px;
    right: 20px;
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menuIco {
    width: 32px;
    position: fixed;
    right: 12px;
    top: 5px;
}

@media screen and (max-width: 900px) {
    .listeMenu {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        background: #FFFBFB;
        padding: 0px;
    }
    .lienNav {
        background: #FFFBFB;
        width: 100%;
    }
    .lienNav a {
        font-size: 50px;
        margin: auto;
    }
    .headerTop {
        width: 100%;
        position: fixed;
        z-index: 1000;
        text-align: center;
        background: #FFFBFB;
        box-shadow: 0px 2px 2px rgba(51, 51, 51, 0.05);
    }
    .menuResBtn {
        display: flex!important;
        justify-content: space-between;
        width: 55%;
        z-index: 1000;
        position: fixed;
        top: 17px;
        left: 8px;
        font-size: 30px;
        color: rgba(130, 204, 221, 1)
    }
    .menuResBtn a {
        text-decoration: none;
    }
}