/* 
*********** Header 
 */

.headerTop {
    width: 100%;
    height: 73px;
    position: fixed;
    padding: 10px 0px;
    z-index: 1000;
    top: 0;
    background-color: #f4f4f4;
    box-shadow: #2624247d 0px 2px 1px 0px;
    text-align: center;
}

.listeMenu {
    justify-content: space-around;
    list-style-type: none;
    height: 50px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    font-family: 'Pacifico', cursive;
    color: #60a3bc;
    font-size: 25px;
    margin: 11px auto;
}

.lienNav {
    list-style-type: none;
    padding: 0 20px;
    cursor: pointer;
}

.menuResBtn {
    display: none;
    position: fixed;
    top: 10px;
    right: 20px;
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menuIco {
    width: 25px;
}

@media screen and (max-width: 900px) {
    .listeMenu {
        flex-direction: column;
        height: 100vh;
        background: #2f3451;
        overflow: auto;
    }
    .lienNav {
        height: 170px;
        background: #2f3451;
        width: 100%;
    }
    .lienNav a {
        font-size: 50px;
        margin: auto;
    }
    .headerTop {
        width: 100%;
        height: 40px;
        position: fixed;
        z-index: 1000;
        box-shadow: #262424 0px 2px 1px 0px;
        text-align: center;
        background-color: #1f2235;
    }
    .menuResBtn {
        display: block!important;
        z-index: 1000;
        position: fixed;
        top: 17px;
        left: 8px;
    }
}