footer {
    height: 120px;
    background-color: rgba(255, 249, 249, 1);
    box-shadow: #10101030 49px 58px 65px 2px;
}

footer h2 {
    color: black!important;
}

footer h2::before {
    content: "____________   ";
    color: rgb(0, 0, 0);
}

footer h2::after {
    content: "   ____________";
    color: rgb(0, 0, 0);
}