.search_container {
    margin-top: 48px;
    *overflow: hidden;
}

.search_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
    background-color: #1f2235;
    background: url("../../Assets/mat-reding-C5VhS0fDXxA-unsplash.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}

.search_container section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background-color: #4a69bd38;
}

.container_list_of_town {
    width: 90%;
    position: relative;
    height: 250px;
}

.container_list_of_town ul {
    width: 40%;
    height: auto;
    max-height: 80%;
    margin: 0px 0px 0px 55px;
    background-color: #b3b3b34f;
    color: #ffcb84e6;
    overflow: auto;
}

.container_list_of_town ul li {
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
    cursor: pointer;
}

.container_list_of_town ul li:hover {
    color: #ffd0ad;
}

.btn_type_of_search_container {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0px auto;
}

.btn_type_of_search_container button {
    width: 50%;
    font-weight: bold;
    font-size: 25px;
    background-color: #b3b3b336;
    line-height: 1.125;
    outline: none;
    border-width: 2px;
    border-style: none;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: none;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #f3f3f3;
}

.btn_type_of_search_container button:active {
    outline: none;
    border-style: none;
}

.btn_type_of_search_container button:focus {
    outline: none;
    border-style: none;
}

.btn_type_of_search_container button:hover {
    background-color: #fad390;
    color: #fff;
}

.isActive_btn {
    border-bottom: 3px solid #fad390 !important;
    color: #fff;
}

.search_title {
    height: 50px;
    margin: auto;
    line-height: 11px;
    padding: 5px;
    color: #fad390;
    border-radius: 8px;
    background-color: #6a89cc00;
}

.establishment_list {
    display: flex;
    width: 95%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.containerSearch {
    background-color: #ffffffc7;
}

@media screen and (max-width: 900px) {
    .search_container section {
        width: 100%;
    }
    .search_header h1 {
        font-size: 25px;
        margin-top: 10px;
        text-align: center;
    }
    .search_title {
        margin: 20px auto;
    }
}