.App {
  text-align: center;
}

.search_bar_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.search_bar_container i {
  color: #ffffff;
  position: relative;
  left: 5%;
  font-size: 44px;
}

input[type="text"].searchbar {
  width: 85%;
  height: 60px;
  border: none;
  font-size: 22px;
  border-radius: 5px;
  margin: auto;
  text-indent: 50px;
}

input[type="text"].searchbar:focus {
  outline: none;
  box-shadow: 0px 0px 0px 4px #ffcb84e6 inset;
}

input[type="text"].searchbar::-webkit-input-placeholder {
  font-style: italic;
  color: #525252;
  font-size: 22px;
}