.search_bar_container {
  display: flex;
  align-items: center;
  width: 100%;
  /* https://flatuicolors.com/palette/fr */
}

.search_bar_container i {
  color: #ffffff;
  /* position: relative;
  left: 5%; */
  width: 10%;
  height: auto;
  font-size: 44px;
}

.search_bar_container div {
  width: 90%;
  display: flex;
}

input[type="text"].searchbar {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 22px;
  border-radius: 5px;
  margin: auto;
  text-indent: 50px;
}

input[type="text"].searchbar:focus {
  outline: none;
  box-shadow: 0px 0px 0px 4px #fad390 inset;
}

input[type="text"].searchbar::-webkit-input-placeholder {
  font-style: italic;
  color: #525252;
  font-size: 22px;
}

.search_type_selection {
  width: 10%;
  position: relative;
  right: 17%;
  margin: 0;
}

.search_type_selection select {
  height: 50px;
  border: none;
  font-size: 22px;
  border-radius: 5px;
  margin: 6px auto;
  cursor: pointer;
}

.search_type_selection select:focus {
  outline: none;
}

.establishment_container_card {
  width: 800px;
  min-height: 230px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 6px 14px 1px #ccc;
}

.listbox {
  margin: 0;
  color: #212529;
  font-size: 14px;
}

.listbox li {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-image: none;
  list-style-type: none;
}

.listbox .item {
  display: block;
  border: none;
  line-height: 1.3em;
  padding: .5em 2em .5em 1em;
  margin: 0;
  color: #222;
  overflow: hidden;
  word-break: normal;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.listbox .item:focus, .listbox .item:hover {
  background-color: #eee;
  text-decoration: none;
}

.displayNone {
  display: none;
}

.btnUI {
  width: 50%;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  background-color: #4c242414;
  line-height: 1.125;
  outline: none;
  border-width: 2px;
  border-style: none;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: none;
  cursor: pointer;
  border-radius: 6px;
}

.btnUI:hover {
  box-shadow: 0px 0px 0px 4px #ffcb84e6 inset;
}

.isActive {
  color: #fad390;
  font-weight: bold;
}

.handicap-container {
  display: flex;
  margin: auto;
}

.handicap-container span {
  width: 80px;
  height: 40px;
  color: #212529;
  text-align: center;
}

.handicap-container span p {
  margin: 2px auto;
}

.handicap-container i {
  color: #212529;
  font-size: 25px;
}

.full-heart {
  color: #eb2f06;
}

.heart {
  cursor: pointer;
}

.empty-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
}

.empty-zone p {
  font-size: 25px;
  font-weight: bold;
  color: #525252;
}

.leaflet-container {
  width: 50%;
  height: 600px;
}

@media screen and (max-width: 900px) {
  .search_type_selection select {
    font-size: 15px;
  }
  input[type="text"].searchbar {
    text-indent: 0px;
  }
  .search_bar_container i {
    font-size: 29px;
  }
  input[type="text"].searchbar::-webkit-input-placeholder {
    font-size: 15px;
  }
  .search_bar_container div {
    width: 100%;
  }
  .search_type_selection {
    right: 34%;
  }
}