.search_bar_container {
  display: flex;
  align-items: center;
  width: 100%;
  /* https://flatuicolors.com/palette/fr */
}

.search_bar_container i {
  color: #ffffff;
  /* position: relative;
  left: 5%; */
  width: 10%;
  height: auto;
  font-size: 44px;
}

.search_bar_container div {
  width: 90%;
  display: flex;
}

input[type="text"].searchbar {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 22px;
  border-radius: 5px;
  margin: auto;
  text-indent: 50px;
}

input[type="text"].searchbar:focus {
  outline: none;
  box-shadow: 0px 0px 0px 4px #fad390 inset;
}

input[type="text"].searchbar::-webkit-input-placeholder {
  font-style: italic;
  color: #525252;
  font-size: 22px;
}

.search_type_selection {
  width: 10%;
  position: relative;
  right: 17%;
  margin: 0;
}

.search_type_selection select {
  height: 50px;
  border: none;
  font-size: 22px;
  border-radius: 5px;
  margin: 6px auto;
  cursor: pointer;
}

.search_type_selection select:focus {
  outline: none;
}

.establishment_container_card_overlay {
  width: 350px;
  min-height: 305px;
  max-height: 305px;
  margin: 15px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 6px 14px 1px #ccc;
  background-color: #6a89cc0d;
  border-radius: 10px;
  position: relative;
}

.establishment_container_card {
  width: 350px;
  min-height: 305px;
  max-height: 305px;
  margin: 15px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 6px 14px 1px #ccc;
  background-color: #6a89cc0d;
  border-radius: 10px;
  position: relative;
}

.url_esta {
  max-width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.url {
  width: 90%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.body-card-container {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
}

.body-card-container:hover #more {
  display: block;
  opacity: 2.85;
}

#more {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 10;
  background-color: #82ccdd4a;
}

#more div {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 1;
}

.header-card {
  background-color: #82ccdd;
  width: 100%;
  height: 65px;
  text-align: center;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header-card p {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 90%;
}

.header-card-modal {
  width: 100%;
  height: 65px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.adress-element {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.header-adress {
  text-align: center;
  width: 300px;
}

.header-adress p {
  margin: 0px;
}

.listbox {
  margin: 0;
  color: #212529;
  font-size: 14px;
}

.listbox li {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-image: none;
  list-style-type: none;
}

.listbox .item {
  display: block;
  border: none;
  line-height: 1.3em;
  padding: .5em 2em .5em 1em;
  margin: 0;
  color: #222;
  overflow: hidden;
  word-break: normal;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.listbox .item:focus, .listbox .item:hover {
  background-color: #eee;
  text-decoration: none;
}

.displayNone {
  display: none;
}

.btnUI {
  width: 50%;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  background-color: #4c242414;
  line-height: 1.125;
  outline: none;
  border-width: 2px;
  border-style: none;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: none;
  cursor: pointer;
  border-radius: 6px;
}

.btnUI:hover {
  box-shadow: 0px 0px 0px 4px #ffcb84e6 inset;
}

.isActive {
  color: #F6B93B;
  font-weight: bold;
}

.container-informations-establishment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  padding: 15px;
  align-items: center;
  box-shadow: 1px 0px 11px 1px #ccc;
  border-radius: 8px;
  margin: 0px auto 5px auto;
}

.handicap-container {
  display: flex;
  margin: 10px auto;
}

.handicap-container span {
  width: 80px;
  height: 40px;
  color: #212529;
  text-align: center;
}

.handicap-container span p {
  margin: 2px auto;
}

.handicap-container i {
  color: #212529;
  font-size: 25px;
}

.full-heart {
  color: #eb2f06;
}

.heart {
  cursor: pointer;
}

.empty-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
}

.empty-zone p {
  font-size: 25px;
  font-weight: bold;
  color: #525252;
}

.leaflet-container {
  width: 100%;
  position: relative;
  height: 100%;
}

.leaflet-container-card {
  width: 300px;
  height: 150px;
}

.container-btn-upload {
  display: flex;
  width: 280px;
  margin: 5px auto;
}

.container-comments {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 10px;
}

.container-comments:hover {
  cursor: pointer;
  color: #60a3bc
}

.container-comments i {
  margin-right: 5px;
}

.zindexMax {
  z-index: 10000 !important;
}

.images-gestion-containe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.images-gestion-containe div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto;
}

.images-gestion-containe img {
  max-width: 450px;
  max-height: 280px;
}

@media screen and (max-width: 900px) {
  .search_type_selection select {
    font-size: 15px;
  }
  input[type="text"].searchbar {
    text-indent: 0px;
    margin-left: 9px;
  }
  .search_bar_container i {
    font-size: 29px;
    margin-left: 9px;
  }
  input[type="text"].searchbar::-webkit-input-placeholder {
    font-size: 15px;
  }
  .search_bar_container div {
    width: 100%;
  }
  .search_type_selection {
    right: 34%;
  }
  .search_bar_container {
    margin-top: 25px;
  }
  .container-informations-establishment {
    width: 100%;
    padding: 0px;
  }
}