/* @font-face {
  font-family: "Merriweather";
  src: url("./Assets//fonts/Merriweather-Regular.ttf");
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300;400;500&display=swap');
body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

html, body, #app, #app>div {
  /* height: 100% */
  max-height: 100vh;
}

a:visited {
  color: rgba(130, 204, 221, 1);
}

a {
  text-decoration: none;
  color: rgba(130, 204, 221, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn-create a {
  color: #f4f4f4;
}