.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    margin: auto;
    width: 75%;
}

.image-container h2 {
    text-align: center;
}

.image-container img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 120px;
    margin: 5px auto;
}