.container-textarea-custom {
    width: 80%;
    height: 210px;
    display: flex;
    margin: 10px auto;
    border: 1px solid #dddbdb;
}

.container-textarea-custom:focus {
    border: 1px solid #82ccdd;
    outline: none;
}